<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
<% for (let index in htmlWebpackPlugin.files.css) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[index] %>" integrity="<%= htmlWebpackPlugin.files.cssIntegrity[index] %>" crossorigin="<%= webpackConfig.output.crossOriginLoading %>">
<% } %>
</head>
<body>
  <img src="img/superscheda.svg" alt="Scheda D&amp;D 3.5" style="height: 2.3rem;" class="align-middle">
  <div class="forkme-ribbon">
    <a href="https://gitlab.com/5p4k/superscheda" target="_blank">
      <div class="forkme-ribbon-background"></div>
      <div class="forkme-ribbon-text pb-sm-2 pb-xs-2">
        <span class="d-none d-md-inline-block small">
          Fork me on<br>
          <i class="fab fa-gitlab fa-2x" aria-hidden="true"></i>
        </span>
        <i class="d-md-none fab fa-gitlab fa-lg" aria-hidden="true"></i>
      </div>
    </a>
  </div>
<% for (let index in htmlWebpackPlugin.files.js) { %>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.js[index] %>" integrity="<%= htmlWebpackPlugin.files.jsIntegrity[index] %>" crossorigin="<%= webpackConfig.output.crossOriginLoading %>">
<% } %>
</body>
</html>
